<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <title>Se connecter</title>

</head>

<body id="body">

<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index">
            <img src="images/logo.png" alt="">
          </a>
          <h2 class="text-center">Welcome Back</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <form class="text-left clearfix" action="index" >
            <div class="form-group text-center">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="form-group text-center">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center" >Login</button>
            </div>
            <% if devise_mapping.rememberable? %>
            <div class="text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            </div>
            <% end %>
            <%end%>
          </form>
          <p class="mt-20">New in this site ? <%= link_to "Create New Account", new_user_registration_path %> </p>
        </div>
      </div>
    </div>
  </div>
</section></body>
  </html>