
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>


  <title>ChatonsOnRails-commerce template</title>



</head>

<body id="body"><section class="products section">
		<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Nos photos de chatons super bg</h2>
			</div>
		</div>
		<% @items.each do |item|%>
		<div class="row">
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img src="<%= item.image_url %>">
						<div class="preview-meta">
							<ul>
								<li>
									<a href=""><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="<%= item_path(item.id)%>"><%= item.title%></a></h4>
						<p><%= item.description %></p>
						<p class="price"><%= item.price%>€</p>
						
					</div>
				</div>
			</div>
			<% end %>
		
		
	</div>
</section>

  </body>
  </html>
