<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>  <title>Aviato | E-commerce template</title>
</head>

<body id="body">
<section class="single-product">
	<div class="container">
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
                                <img class="img-responsive" src="<%= @item.image_url %>" alt="product-img">
								</div>
								
							</div>
	
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2><%= @item.title %></h2>
					<p class="product-price"><%= @item.price %>0 €</p>
					
					<p class="product-description mt-20">
                    <%= @item.description %>
					</p>
					
					
					<div class="product-quantity">
						<span>Quantity:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="1" name="product-quantity" disabled>
						</div>
					</div>
                    
                    <!--A MODIFIER REF DE MISE EN PANIER -->  


					<%= link_to "Add to Cart", new_jointscardsitem_path %> 
				</div>
			</div>
		</div>
		
		
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>

		<% @items.each do |item|%>
			<div class="col">
				<div class="col-md-3">
					<div class="product-item">
						<div class="product-thumb">
							<img src="<%= item.image_url %>">
						</div>
						<div class="product-content">
							<h4><a href="<%= item_path(item.id)%>"><%= item.title%></a></h4>
							<p class="price"><%= item.price%>0 €</p>
							
						</div>
					</div>
				</div>
			</div>
		<% end %>
		
	</div>
</section>



<!-- Modal -->
<div class="modal product-modal fade" id="product-modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i class="tf-ion-close"></i>
	</button>
  	<div class="modal-dialog " role="document">
    	<div class="modal-content">
	      	<div class="modal-body">
	        	<div class="row">
	        		<div class="col-md-8">
	        			<div class="modal-image">
		        			<img class="img-responsive" src="images/shop/products/modal-product.jpg" />
	        			</div>
	        		</div>
	        		<div class="col-md-3">
	        			<div class="product-short-details">
	        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
	        				<p class="product-price">$200</p>
	        				<p class="product-short-description">
	        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
	        				</p>
	        				<a href="" class="btn btn-main">Add To Cart</a>
	        			</div>
	        		</div>
	        	</div>
	        </div>
    	</div>
  	</div>
</div>

  </body>
  </html>