<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- Mobile Specific Meta-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
	
	<!-- Themefisher Icon font -->
	<link rel="stylesheet" href="plugins/themefisher-font/style.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	
	<!-- animate.css -->
	<link rel="stylesheet" href="plugins/animate-css/animate.css">
	
	<!-- Revolution Slider -->
	<link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/fonts/font-awesome/css/font-awesome.css">
  
	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/css/navigation.css">
	
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
  </head>

  <body>
  	<!-- Start Top Header Bar -->
  	<section class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-12 col-sm-4">
				
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4">
					<!-- Site Logo -->
					<div class="logo text-center">
						<h1><a href="/"> BicraveDeChatons.com </a></h1>
					</div>
				</div>
				<!-- Log -->
				<div class="col-md-4 col-xs-12 col-sm-4">
					<ul class="top-menu text-right list-inline ">
 					<% if user_signed_in? %>
    					<li>
     					<%= current_user.email %>
						</li>
						<li>
						<%= link_to "Ton profil", edit_user_registration_path %>
						</li>
						<li>
						<%= link_to "Editer profil", edit_user_registration_path %>
						</li>
						<li>
      					<%= link_to "Déconnection", destroy_user_session_path, method: :delete %>
    					</li>
						<!-- Cart -->
						<li class="dropdown cart-nav dropdown-slide">
	        	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="tf-ion-android-cart"></i>Cart</a>
	         	   				<div class="dropdown-menu cart-dropdown">
	            					<!-- Cart Item -->
	            					<div class="media">
	            						<div class="media-body">
	            							<h4 class="media-heading"><a href="">A remplacer par le vrai panier</a></h4>
	            							<div class="cart-price">
                        	      				<span>1 x</span>
                         	     				<span>666.00</span>
                        	    			</div>
	            						</div>
                      					<a href="#" class="remove"><i class="tf-ion-close"></i></a>
	            					</div><!-- / Cart Item -->
	            					<!-- Cart Item -->
	            					<div class="media">
	            						<div class="media-body">
	            							<h4 class="media-heading"><a href="">A remplacer par le vrai panier</a></h4>
	            							<div class="cart-price">
                        						<span>1 x</span>
                              					<span>666</span>
                            				</div>
	            						</div>
                        				<a href="#" class="remove"><i class="tf-ion-close"></i></a>
	            					</div><!-- / Cart Item -->
	            					<div class="cart-summary">
                        				<span>Total</span>
                        				<span class="total-price">$1799.00</span>
                    				</div>
                    				<ul class="text-center cart-buttons">
                    					<li><a href="<%= carts_path%>" class="btn btn-small">Voir le panier</a></li>
										<li><a href="" class="btn btn-small btn-solid-border">Paiement</a></li>
                   					</ul>
                				</div>
	        				</li><!-- / Cart -->
  					<% else %>
    					<li>    
      					<%= link_to "Connection", new_user_session_path %>
						</li>
						<li>
    					<%= link_to "Inscription", new_user_registration_path %>
    					</li>

					<% end %>
	        		</ul><!-- / .nav .navbar-nav .navbar-right -->
				</div>
			</div>
		</div>
	</section>
		<!-- End Top Header Bar -->
	<%= yield %>
	<footer class="footer section text-center">
	<div class="container">
		<div class="row">
				<p class="copyright-text">Copyright Team Toulouse 2019</p>
			</div>
		</div>
	</div>
</footer>
	<!--    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/count-down/jquery.countdown.min.js"></script>
    
    <!-- Revolution Slider -->
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- Revolution Slider -->
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/assets/warning.js"></script>  



    <!-- Custom js -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItRd4sQ_aXlQG_fvEzsxvuYyaWnJKETk&callback=initMap"></script>

    <script src="js/script.js"></script>
    
  </body>
</html>
